/* --------- Global style --------- */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #000;
    text-align: center;
}

/* --------- Heading ----------- */

.heading {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5em;
    background-color: #2E4053;              
    color: #D2B4DE;
    box-sizing: border-box;
    width: 85%;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-weight: bold; 
}

.logo {
    height: 60px;
    padding-right: 5px;
}

.quiz-area {
    background-color: #D2B4DE;       
    box-sizing: border-box;
    width: 85%;
    height: 85vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.2em;
    border: 4px solid black;
}

.backBtn, .forwardBtn, .skipBtn {
    padding: 0.5em 2em;
    margin-right: 2em;
    background-color: #979A9A;
}

div h2 {
    font-size: 1em;
}

.question-area span {
    padding: 0 15px;
}

/*.answers {
    display: inline-block;
    /*display: inline-block;
    background-color: #00BCD4; 
    margin: 1em;
  } */

.submitBtn {
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1em;
    /*margin-top: 0.5em; */
    font-weight: bold;
}

.submitBtn:hover,
.backBtn:hover, .forwardBtn:hover, .skipBtn:hover {
  background-color: #D2B4DE;
}

.score-area {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    margin: 0 auto;
    background-color: #2E4053;              
    color: #D2B4DE;

    box-sizing: border-box; 
    width: 85%;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}

/* ------ Media Queries -------*/

@media screen and (max-width: 385px) {
    .heading {
        font-size: 1.5rem;
    }

    .backBtn, .forwardBtn, .skipBtn {
        display: block;
        margin: 0 auto;
    }

    .submitBtn {
        border-radius: 5px;
        font-size: 0.8em;
        margin-top: 1em;
    }

    .score-area {
        font-size: 0.8em;
    }
}