/******************************************************************************************************/
/*                              GLOBAL STYLES                                                   * /                                                                                                      /
/*****************************************************************************************************/
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #000;
    text-align: center;
}

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------- Heading ----------- */

.heading {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Nova Square", cursive;
    font-style: italic;
    padding: 0.5em;
    background-color: #2E4053;              
    color: #D2B4DE;
    box-sizing: border-box;
    width: 85%;
    max-height: 450px;
    max-width: 100%;  
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.logo {
    height: 60px;
    padding-right: 5px;
}

footer {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between; 
    font-family: "Nova Square", cursive;            
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    padding: 0.5em;
    background-color: #2E4053;              
    color: #D2B4DE;
    box-sizing: border-box;
    width: 85%;
    max-height: 450px;
    max-width: 100%;  
    margin-left: auto;
    margin-right: auto;
    padding: 1%;  
}

#topBtn {
    text-decoration: none;
    color: #D2B4DE;
    font-family: "Nova Square", cursive;            
    font-style: italic;
}

/******************************************************************************************************/
/*                              HOME PAGE STYLES                                                   * /                                                                                                      /
/*****************************************************************************************************/

.homeContainer  {              
    background-color: #D2B4DE;       
    box-sizing: border-box;
    width: 85%;
    height: 86vh; 
    max-height: 800px; 
    max-width: 100%;      
    margin-left: auto;
    margin-right: auto;
    padding: 2.5%;
    font-weight: bold;
    font-size: 1.2em;
    border: 4px solid black;
}

.homeContainer a  {
    padding-right: 2em;
}

.homeContainer h1 {
    margin-top: 5em; 
    margin-bottom: 2rem;

    font-family: "Nova Square", cursive;
    font-weight: bold;
    font-style: italic;
}

.playScoreBtn  {
    
    color:#000;
    background: rgb(133, 127, 127);
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.5rem; 
    padding: 1.2rem 2rem;
    width: 30rem;
    margin-bottom: 1rem; 
    text-decoration: none;
    margin-right: 2rem; 
}

.playScoreBtn:hover  {
    background-color: #D2B4DE;  
    cursor: pointer;   
}

/******************************************************************************************************/
/*                              QUIZ PAGE STYLES                                                   * /                                                                                                      /
/*****************************************************************************************************/

.quizContainer  {               
    background-color: #D2B4DE;     /* Light Purple background colour */  
    box-sizing: border-box;
    width: 85%;
    max-width: 100%;      /*830px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 2.5%; 
    font-weight: bold;
    font-size: 1.5rem;
    border: 4px solid black;   
}

#quiz {
    margin-bottom: 6rem;
}

.option-container {
    
    display: flex;      
    margin: 0 auto;
    margin-bottom: 0.8rem; 
    width: 100%;            
    border-radius: 20px;
    background-color: rgb(18, 93, 255, 0.8);
}

.option-container:hover {
    cursor:pointer;
    transform: scale(1.02); 
    transform: transform 100ms;
}

.option-pfix  {
    padding: 2rem 2.5rem; 
    font-family: "Raleway", cursive;
} 

.option-text  {
    padding: 2rem; 
    font-family: "Raleway", cursive;
} 

#goodCommendation, #badCommendation {
    font-family: "Nova Square", cursive;
    font-weight: bold;
    font-style: italic;
    margin-top: 2rem;
}

/* The 2 set of rules below will make the answer/option button turns green if the user's
 answer is correct and red if otherwise */
.rightAnswer  {
    background: rgb(0, 255, 0);
}

.wrongAnswer  {
    background: rgb(255, 0, 0);
}

#headerdisplay  {
    display: flex;
    justify-content: space-between;
}

.headerdisplay-pfix  {
    text-align: center;
    font-size: 2rem; 
}

.headerdisplay-main-text  {
    text-align: center;
}

#progressLevel  {
    width: 15rem;       
    height: 2rem;            
    border: 0.3rem solid rgb(50, 205, 50);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden; 
}

#progressLevelFull  {
    height: 100%;
    background: rgb(50, 205, 50);
    width: 0%;
}

#question  {
    margin-top: 5rem; 
    font-size: 1.6rem; 
    font-weight: bold;
    font-family: "Raleway", cursive;
    margin-bottom: 1rem;
}

.homeBtn  {     /* Add style to the home link button on the end page that links a user back to the home page */
    color:#000;
    background: rgb(133, 127, 127);
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.5rem; 
    padding: 1.2rem 2rem;
    width: 30rem;
    text-decoration: none;
}

.homeBtn:hover  {
    background-color: #D2B4DE;  
    cursor: pointer;   
}


/******************************************************************************************************/
/*                              MEDIA QUERIES STYLES                                                * /                                                                                                      /
/*****************************************************************************************************/

@media screen and (max-width:1052px)  {
    #saveResultBtn {
        margin-bottom: 6rem;
    }

    .homeBtn {
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }

    #end input {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:1000px)  {
    .homeBtn {
        font-size: 0.8rem;
        padding-top: 0.8rem;
        margin-top: 5rem;
    }

    #endFormText {
        margin-top: 2rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:930px)  {
    #home a {
        font-size: 0.8rem;
        margin: auto;
        margin-bottom: 2rem;    
    } 
  } 

  @media screen and (max-width:768px)  {
    .option-container  {
        min-width: 20rem; 
        margin-bottom: 0.5rem; 
        width: 45%;
        border-radius: 4px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:740px)  {
    #end input {
       width: 30%;
   } 
}

@media screen and (max-width:621px)  {
    #question  {
        font-size: 1rem;
    }

    #home h1  {
        font-size: 1rem;
    }

    #saveResultBtn {
        font-size: 1rem; 
        margin-bottom: 8rem;
        margin-top: 1rem;
    }

    #end input {
        margin: 3rem 0;
        border-radius: 4px;
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    footer {         
        font-size: 0.8rem;
        padding-top: 1.5rem;  
    }
}

@media screen and (max-width:579px)  {
    .playScoreBtn  {
        font-size: 0.8rem;
        display: block;
        width: 10rem;
    }
}

@media screen and (max-width:569px)  {
    #home a {
        font-size: 0.8rem;
        display: block; 
        margin: auto;
        margin-bottom: 2rem;
        width: 45%; 
    } 
}

@media screen and (max-width:500px)  {
    p.headerdisplay-pfix, #progressText  {
        font-size: 0.6rem;
    }

    #progressLevel  {
        width: 10rem;
        height: 2rem;
        margin-top: 1rem;
        border-radius: 50px;
       /* overflow: hidden; */
    }

    .heading {
        font-size: 1.5rem;
    }

    .option-container {
        text-align: center; 
        display: block; 
        margin-bottom: 0.5rem;
        border-radius: 2px;
        font-size: 1rem;
        padding: 0;
    }

    #end input {
        margin: 3rem 0;
        border-radius: 4px;
        padding: 0.5rem 4rem;
        margin-bottom: 2rem;
        font-size: 1rem;
        display: block;
        margin: auto;  
    }
    
    #saveResultBtn {
        padding: 0.2rem 2rem;
        font-size: 1rem;
        margin-bottom: 8rem;
    }

    .homeBtn {
        font-size: 0.8rem;
        padding-top: 0.8rem;
        margin-top: 5rem;
    }

    #endFormText {
        margin-top: 2rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }   
}

@media screen and (max-width: 352px) {
    .homeBtn {
        font-size: 0.8rem;
        padding-top: 0.5rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-bottom: 0.1rem;
    }

    #saveResultBtn {
        margin-bottom: 4rem;
    }
}











